<% content_for :page_title do %>
  <%= Spree.t(:editing_page) %> <span class="green">"<%= @page.title %>"</span>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_page_list), spree.admin_pages_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @page } %>
<div class="row">
  <fieldset class="no-border-top translations">
    <%= render 'settings' %>
    <%= form_for [:admin, @resource] do |f| %>
      <%= render 'form_fields', f: f %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'icon-refresh' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), spree.edit_admin_page_path(@page), :icon => 'icon-remove' %>
      </div>
    <% end %>
  </fieldset>
</div>
